* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 5px 20px;
    font-size: 38px;
    text-align: center;
    margin: 20px 20px 0 20px;
    line-height: 50px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

/* section#color-verdadero {} */

p#codigoRGB {
    font-size: 30px;
    font-weight: 700;
    text-transform: lowercase;
}

section#seleccion {
    margin: 40px 45px 0 45px;
    padding-top: 40px;
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

article#botones {
    flex-wrap: wrap;
}

.btn {
    padding: 55px;
    margin: 7px 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1 , 1.1);
}

article#contadores {
    margin-top: 30px;
}

.contador {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contador h3 {
    font-size: 24px;
    text-transform: capitalize;
}

.contador span {
    font-size: 18px;
}


/* MODALES */

.hide {
    /* display: none; */
    visibility: hidden;
}

.modal-ext {
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* opacity: 0.7; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-int {
    width: 300px;
    height: 250px;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modal-int h2 {
    font-size: 37px;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 5px 20px;
    margin-bottom: 20px;
}

.btnModal {
    color: var(--color-black);
    text-decoration: none;
    font-size: 22px;
    padding: 10px 20px;
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
}

.btnModal:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

@media screen and (min-width: 768px) {
    main {
        width: 80%;
        height: 70%;
        border: 1px solid green;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    section#seleccion {
        margin: 20px;
        padding: 20px;
        border-left: 2px solid black;
        border-top: none;
    }
    article#botones {
        margin: 10px;
        padding: 10px;
        flex-wrap:nowrap;
    }


}